@import 'colors';
@import 'flex';
@import 'icomoonStyles';
@import 'faders';
@import 'material/materialTheme';
@import 'material/palettes';

body {
  margin: 0;
  min-width: 1152px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

html, body, md-sidenav-container {
  height: 100%;
}

.scrubbing * {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
  user-select: none;
}