<div id="toolbar">
    <div>
        Open DVS<span class="subtext">βeta</span>
    </div>
    <div class="right-toolbar">
        <div class="toolbar-item" md-tooltip="Learn MIDI Mapping" (click)="midiMapper.toggleLearnMode()">
            <span class="icon-equalizer" [class.active]="midiMapper.getLearnMode()"></span>
        </div>
        <div class="toolbar-item" mdTooltip="MIDI settings" (click)="toggleMidiSettings()">
            <span class="icon-midi"></span>
        </div>
        <div class="toolbar-item" mdTooltip="Audio settings" (click)="toggleAudioSettings()">
            <span class="icon-speaker"></span>
        </div>
        <div class="toolbar-item">
            <span *ngIf="!isFullScreen()" (click)="toggleFullScreen()" mdTooltip="Fullscreen">
                <span class="icon-enlarge-color">
                    <span class="path1"></span><span class="path2"></span>
                </span>
            </span>
                <span *ngIf="isFullScreen()" (click)="toggleFullScreen()" mdTooltip="Exit fullscreen">
                <span class="icon-shrink-color">
                    <span class="path1"></span><span class="path2"></span>
                </span>
            </span>
        </div>
    </div>
</div>