<div>
    <h2>Deck {{deckNames[deckId]}}</h2>

    <div>
        <md-select placeholder="Live Input" [ngModel]="deckAudioSettings.liveIn$ | async" (change)="deckAudioSettings.setLiveIn($event.value)">
            <md-option *ngFor="let device of (audioUtil.inputDevices$ | async)" [value]="device">{{ device.label }}</md-option>
        </md-select>
    </div>

    <div>
        <md-select placeholder="Control Input" [ngModel]="deckAudioSettings.controlIn$ | async" (change)="deckAudioSettings.setControlIn($event.value)">
            <md-option *ngFor="let device of (audioUtil.inputDevices$ | async)" [value]="device">{{ device.label }}</md-option>
        </md-select>
    </div>

</div>

