@import '../globalSass/material/palettes';
@import '../globalSass/variables';

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: map_get($dvs-grey, 500);
}

.row {
  margin-bottom: $gutter-size;
}

.deck-section {
  flex: 0 0 400px;
}

.deck-section-item {

}

.deck {
  width: 28.6%
}

.center-controls {
  width: 42.8%;
}