.main-content {
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  margin-bottom: 3px;
}

.deck-section {
  flex: 0 0 350px;
}

.deck-section-item {

}

.deck {
  width: 28.6%
}

.center-controls {
  width: 42.8%;
}