<md-sidenav-container>
    <md-sidenav [opened]="(sideNav.state$ | async) !== SideNavState.Closed" (close)="onCloseSideNav()">
        <side-nav></side-nav>
    </md-sidenav>
    <div  class="main-content">
        <md-toolbar>
            <toolbar></toolbar>
        </md-toolbar>
        <div class="deck-section flex">
            <div class="deck1 deck flex">
                <deck class="flex flex-grow" [deckId]="DeckId.LEFT"></deck>
            </div>
            <div class="center-controls flex">
                <center-controls class="flex flex-grow"></center-controls>
            </div>
            <div class="deck2 deck flex">
                <deck class="flex flex-grow" [deckId]="DeckId.RIGHT"></deck>
            </div>
        </div>
        <div class="library-section flex flex-grow">
            <library class="flex flex-grow" (onLoadSong)="onLoadSong($event)"></library>
        </div>
    </div>
</md-sidenav-container>
