<div id="center-controls">
    <div class="waveform-container">
        <div class="center-line"></div>
        <canvas height="80" width="1" class="waveform"
                #deck1Canvas (mousedown)="startScrub(DeckId.LEFT, $event)"
                [class.scrubbable]="deck1ActiveSong.isLoaded">
        </canvas>
    </div>
    <div class="waveform-container">
        <div class="center-line"></div>
        <canvas height="80" width="1" class="waveform"
                #deck2Canvas (mousedown)="startScrub(DeckId.RIGHT, $event)"
                [class.scrubbable]="deck2ActiveSong.isLoaded">
        </canvas>
    </div>
    <div class="volume-faders">
        <div class="deck1">
            <fader name="deckAGain" [value]="1"></fader>
        </div>
        <fader name="masterGain" [value]="1"></fader>
        <div class="deck2">
            <fader name="deckBGain" [value]="1"></fader>
        </div>
    </div>
    <crossfader (change)="crossfaderChange($event)"></crossfader>
</div>