@import '../../globalSass/material/palettes';
@import '../../globalSass/variables';

#center-controls {
  margin: $gutter-size 0;
  padding: 3px;
  flex-grow: 1;
  background-color: $background-color;
  border-radius: $border-radius;
}

.waveform {
  user-select: none;
  width: 100%;
  height: 80px;
}

.volume-faders {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.volume-fader {
  display: inline-block;
  margin: 0 25px;
}

.scrubbable {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.waveform-container {
  position: relative;
}

.center-line {
  position: absolute;
  left:50%;

  height: 100%;
  width: 1px;

  background-color: grey;
}