#center-controls {
  margin: 0 3px 3px 3px;
  padding: 3px;
  border: 1px solid grey;
  flex-grow: 1;
}

.waveform {
  user-select: none;
  width: 100%;
  height: 80px;
}

.volume-faders {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.scrubbable {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.waveform-container {
  position: relative;
}

.center-line {
  position: absolute;
  left:50%;

  height: 100%;
  width: 1px;

  background-color: grey;
}