<div id="deck">
    <div>
        <div>
            Input:
            <md-radio-group [value]="inputType">
                <md-radio-button class="example-radio-button" *ngFor="let inputTypeOption of inputTypeOptions" [value]="inputTypeOption.type">
                    {{inputTypeOption.label}} &nbsp;&nbsp;
                </md-radio-button>
            </md-radio-group>
        </div>
        <div class="song-details-section">
            <div *ngIf="activeSong.song">
                <img height="100px" [src]="albumCoverDataUrl" alt="Album Cover">
                <div class="song-labels">
                    <div class="song-title">{{activeSong.song.details.title}}</div>
                    <div>{{activeSong.song.details.album}}</div>
                    <div>{{activeSong.song.details.artist}}</div>
                </div>
            </div>
        </div>
        <div>
            <canvas height="60" width="1"
                    class="waveform" [class.clickable]="activeSong.isLoaded"
                    (click)="onCanvasClick($event)">
            </canvas>
        </div>

        <div class="song-position-section">
            <div class="song-time">
                {{formattedSongOffset$ | async}}
            </div>
            <div class="song-time">
                {{activeSong.isLoaded ? formatTime(activeSong.song.details.lengthSeconds) : '0:00'}}
            </div>
        </div>

        <div>
            <button [id]="deckName + '-play-pause'"
                    (click)="activeSong.isPlaying ? pause() : play()"
                    [disabled]="!activeSong.isLoaded || activeSong.isControlled"
                    md-raised-button [color]="activeSong.isPlaying ? 'accent' : 'primary'">
                Play/Pause
            </button>
            <midi-mapping [elemId]="deckName + '-play-pause'" [amount]="activeSong.isPlaying ? 1 : 0" (amountChange)="$event ? play() : pause()"></midi-mapping>

            <button [id]="deckName + '-toggle-control'"
                    md-raised-button
                    (click)="activeSong.toggleControl()"
                    [disabled]="!activeSong.isLoaded"
                    [color]="activeSong.isControlled ? 'accent' : 'primary'">
                Control
            </button>
            <midi-mapping [elemId]="deckName + '-toggle-control'" [amount]="activeSong.isControlled ? 1 : 0"
                          (amountChange)="$event ? activeSong.enableControl() : activeSong.disableControl()"></midi-mapping>
        </div>
    </div>
</div>