@import '../../globalSass/material/palettes';
@import '../../globalSass/variables';

#deck {
  flex-grow: 1;
  margin: $gutter-size;
  padding: 3px;
  background-color: $background-color;
  border-radius: $border-radius;
  position: relative;
}

.waveform {
  height: 60px;
  width: 100%;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.song-details-section {
  height: 100px;
  padding: 16px 0 8px 0;
}

.song-labels {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}

.song-title {
  font-size: 24px;
}

.song-position-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.toggleControl {
  font-size: 24px;
}

.align-top {
  vertical-align: top;
}

.cue-section {
  margin-top: 15px;
}

.cue-mode-section {
  margin-top: 5px;

  md-radio-button {
    margin-right: 12px;
  }
}

.cues {
  button {
    min-width: 20px;
    font-weight: bold;
  }
}