<div id="deck">
    <div>
        <div>
            <md-radio-group [value]="inputType">
                <md-radio-button class="example-radio-button" *ngFor="let inputTypeOption of inputTypeOptions" [value]="inputTypeOption.type">
                    {{inputTypeOption.label}}
                </md-radio-button>
            </md-radio-group>
            Selected {{inputType}}
        </div>
        <div>
            <canvas height="76" width="1"
                    class="waveform" [class.clickable]="activeSong.isLoaded"
                    (click)="onCanvasClick($event)">
            </canvas>
        </div>
        <div>
            <button [id]="deckName + '-play-pause'"
                    (click)="activeSong.isPlaying ? pause() : play()"
                    [disabled]="!activeSong.isLoaded"
                    md-raised-button [color]="activeSong.isPlaying ? 'accent' : 'primary'">
                Play/Pause
            </button>
            <midi-mapping [elemId]="deckName + '-play-pause'" [amount]="activeSong.isPlaying ? 1 : 0" (amountChange)="$event ? play() : pause()"></midi-mapping>
        </div>
    </div>
</div>