#deck {
  flex-grow: 1;
  margin: 0 3px 3px 3px;
  padding: 3px;
  border: 1px solid grey;
}

.waveform {
  height: 60px;
  width: 100%;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.song-details-section {
  height: 100px;
  padding: 16px 0 8px 0;
}

.song-labels {
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}

.song-title {
  font-size: 24px;
}

.song-position-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}