<div id="midi-settings">
    <h1 style="margin-top:0;">MIDI Settings</h1>
    <h2>Enable Devices</h2>
    <table>
        <tr>
            <th>Input</th>
            <th>Output</th>
            <th>Name</th>
        </tr>
        <tr *ngFor="let device of midiIo.devices;trackBy:getDeviceName">
            <td>
                <div *ngIf="device.input">
                    <md-checkbox [checked]="midiIo.inputIsEnabled(device.name)" (change)="midiIo.toggleInput(device.name)"></md-checkbox>
                </div>
            </td>
            <td>
                <div *ngIf="device.output">
                    <md-checkbox [checked]="midiIo.outputIsEnabled(device.name)" (change)="midiIo.toggleOutput(device.name)"></md-checkbox>
                </div>
            </td>
            <td>{{device.name}}</td>
        </tr>
    </table>
</div>