@import '../../../node_modules/@angular/material/core/theming/all-theme';
@import 'palettes';

// Include the base styles for Angular Material core.
@include md-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dvs-grey-palette: md-palette($dvs-grey);
$dvs-purple-palette:  md-palette($dvs-purple);

//Override material default dark theme background colors
$md-dark-theme-background: (
        status-bar: black,
        app-bar:    $background-color,
        background: $background-color,
        hover:      rgba(white, 0.04),
        card:       $background-color,
        dialog:     $background-color,
        disabled-button: rgba(white, 0.12)
);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: md-dark-theme(md-palette($dvs-grey), md-palette($dvs-white));
$deck1-theme: md-dark-theme(md-palette($dvs-grey), md-palette($dvs-purple));
$deck2-theme: md-dark-theme(md-palette($dvs-grey), md-palette($dvs-blue));

@mixin button-pseudo-selectors($hover, $active) {
  [md-raised-button].md-primary:hover {
    background-color: map_get($dvs-grey, 400);
  }

  [md-raised-button].md-primary:active {
    background-color: map_get($dvs-grey, 600);
  }

  [md-raised-button].md-accent:hover {
    background-color: $hover;
  }

  [md-raised-button].md-accent:active {
    background-color: $active;
  }
}

@include button-pseudo-selectors(map_get($dvs-white, 200), map_get($dvs-white, 50));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

.deck1 {
  @include angular-material-theme($deck1-theme);
  @include button-pseudo-selectors(map_get($dvs-purple, 400), map_get($dvs-purple, 600));
}

.deck2 {
  @include angular-material-theme($deck2-theme);
  @include button-pseudo-selectors(map_get($dvs-blue, 400), map_get($dvs-blue, 600));
}

[md-raised-button] {
  font-weight: bold;
}

[md-raised-button], [md-raised-button]:active {
  box-shadow: none;
}