@import '../../../node_modules/@angular/material/core/theming/all-theme';
@import 'palettes';

// Include the base styles for Angular Material core.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$dvs-grey-palette: mat-palette($dvs-grey);
$dvs-purple-palette:  mat-palette($dvs-purple);

//Override material default dark theme background colors
$mat-dark-theme-background: (
        status-bar: black,
        app-bar:    $background-color,
        background: $background-color,
        hover:      rgba(white, 0.04),
        card:       $background-color,
        dialog:     $background-color,
        disabled-button: rgba(white, 0.12),
        raised-button: $background-color,
);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-dark-theme(mat-palette($dvs-grey), mat-palette($dvs-white));
$deck1-theme: mat-dark-theme(mat-palette($dvs-grey), mat-palette($dvs-purple));
$deck2-theme: mat-dark-theme(mat-palette($dvs-grey), mat-palette($dvs-blue));

@mixin button-pseudo-selectors($hover, $active) {
  [mat-raised-button].mat-primary:hover:not([disabled]) {
    background-color: map_get($dvs-grey, 400);
  }

  [mat-raised-button].mat-primary:active:not([disabled]) {
    background-color: map_get($dvs-grey, 600);
  }

  [mat-raised-button].mat-accent:hover:not([disabled]) {
    background-color: $hover;
  }

  [mat-raised-button].mat-accent:active:not([disabled]) {
    background-color: $active;
  }
}

@mixin custom-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-option {
    color: mat-color($primary);

    &.mat-selected {
      color: mat-color($accent);
    }

  }
}

@include button-pseudo-selectors(map_get($dvs-white, 200), map_get($dvs-white, 50));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
@include custom-theme($app-theme);

.deck1 {
  @include angular-material-theme($deck1-theme);
  @include custom-theme($deck1-theme);
  @include button-pseudo-selectors(map_get($dvs-purple, 400), map_get($dvs-purple, 600));
}

.deck2 {
  @include angular-material-theme($deck2-theme);
  @include custom-theme($deck2-theme);
  @include button-pseudo-selectors(map_get($dvs-blue, 400), map_get($dvs-blue, 600));
}

[mat-raised-button] {
  font-weight: bold;
}

[mat-raised-button], [mat-raised-button]:active {
  box-shadow: none;
}

mat-grid-tile figure {
  align-items: stretch;
  justify-content: flex-start;
}

.mat-slide-toggle.mat-slide-toggle-focused .mat-ink-ripple {
  opacity: 0;
}

.mat-slider-thumb-container {
  transition: none;
}